html {margin: 0;
    width: 100vw;
    height: 100vh;
        
    
}
body {
    text-align: center;
    color: #e9d66b;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("windows.jpg");
    background-size: cover;
}


.first-box {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    line-height: 25px;
    background-color: #0d0db9;
}

#Title {
    font-family: "helvetica";
    font-size: 18px;
    text-align: center;
    transform: scale(1.3);
    overflow: auto;
    
}
    
#Intro {
    font-size: 15px;
    transform: scale(2);
    overflow: auto;
}

.third-box {
    display: flex;
    align-content: center;
    justify-content: space-around; 
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgba(13, 13, 185, 0.55);
    margin-bottom: 19px;

}

p {
    line-height: 34px;
    color: #99ff00;
    margin-top: 20px;
    margin-bottom: 1px;
}


   #hello {
    border: solid;
    border-width: 5px;
    margin: 10px;
    height: 182px;
    border-color: #ff91af;
   }

   #descrip {
    max-width: 600px;
    color: #99ff00;
    font-size: 18px;
    font-family: "helvetica";
   }

.second-box {
    display: flex; 
    align-content: center; 
    justify-content: space-around;
    margin-top: 20px; 
    border: dashed; 
}

.fourth-box {
    display: flex; 
    align-content: center; 
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(13, 13, 185, 0.55);
    
    
}

#square-1 {
    width: 60%;
    height: 238px;
    font-family: "regency";
    font-size: 40px;    
}

figure {
    margin: 10px;
    margin-top:30px;
}

figcaption {
    color: #ff91af;
    font-family: "damona";
    font-size: 15px;
}

#square-2 {
    width: 40%;
}


#square-3 {
width: 50px;
padding-top: 15px;
padding-bottom: 15px;
margin-left: 5px;
margin-right: 5px;
line-height: 45px;
}


@font-face {
    font-family: "damona";
    src: url("damona.ttf") format("truetype");
   }

@font-face {
    font-family: "helvetica";
    src: url("HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "regency";
    src: url("regency.ttf") format("truetype");
}
